body{
     font-family:'Be Vietnam Pro', sans-serif;;
    font-size: 62.5%;
    
}
header nav a {
    font-size: 1.2rem;
    text-decoration: none;
    padding-left: 28px;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 40px 3rem;
}
nav a{
    display: none;
}
.boton-header{
    font-size: 1rem;
    border-radius: 2.5rem;
    color: aliceblue;
    padding: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 5px 5px 8px #888888;
    transition: .5s;
    background: #F3603B;
    display: none;
}
.grafico-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}
h1{
    color: #232C50;
    font-size: 2.5rem;
}
main section div p{
    opacity: 0.5;
}
main section div button{
    padding: 12.5px 30.5px;
}
h2{
    color: #232851;
}
.What-The-said{
    color: #232851;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
p{
    font-size: 1.2rem;
}
.grafico-main div p {
    color: #000000;
}
.grafico-main img {
    width: 90%;
}
button{
    font-size: 1rem;
    border-radius: 2.5rem;
    color: aliceblue;
    padding: 10px 5px;
    padding-left: 3rem;
    padding-right: 3rem;
    box-shadow: 5px 5px 8px #888888;
    background: #F3603B;
}
.diferente{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}
.funciones{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.fun-titulo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition:  .5s;
}
.fun-titulo span{
    border-radius: 1rem;
    padding: 5px 13px;
    position: relative;
    left: 1rem;
    color: #FAFAFA;
    background-color: #F3603B;
}
.fun-titulo h3{
    padding: 5px;
    padding-left: 1rem;
    min-width: 70vw; 
    background-color: #f8e7e1;
    padding-right: 10%;
}
.fun-texto{
    text-align: left;
}
.que-dijeron{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #E5E5E5;
}
.What-The-said{
    font-size: 2rem;
    padding-bottom: 20px;
}
.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card{
    margin-top: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FAFAFA;
    padding: 20px;
    width: 80%;
    max-width: 500px;
}
.card img{
    display: block;
    margin: auto;
    position: relative;
    bottom: 5rem;
}
.card-otro, .card-otro {
    display: none;
}
.que-dijeron button{
    margin: 4rem;
}
.simplify{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #F3603B;
}
.simplify button{
    background-color: #f8e7e1;
    color: #F3603C;
    font-weight: bold;
}
.simplify h2{
    color: #FFFFFF;
    font-size: 2rem;
}
footer{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #1E1E26;
    
}
.copy-desktop{
    display: none;
}
form button{
    box-shadow: none;
    padding-left: 0.6rem;
    padding-right: 0.6rem;

}
footer form input{
    border-radius:  20px;
    padding: 5px 20px 5px 10px;
}
footer form button{
    padding: 11.5px 22.5px;
}
.listas{
    display: flex;
    flex-direction: row;
}
.listas ul li{
    list-style: none;
    padding-bottom: 12px;
}
.listas ul li a{
    text-decoration: none;
    color: white;
}
.logo-iconos{
   display: flex;
   flex-direction: column;
   align-content: center;
   width: 90%;
}
.logos-container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    }
.logos-container .fa-brands{
    width: 20px;
    height: 20px;
    padding-left: 5px;
}
.logo-footermobile{
   max-width: 18rem;
    width: 40%;
    align-self: center;
    margin: 1rem;
}
.logo-footerdesktop{
    display: none;
}
@media (min-width: 1440px){
   *{
    margin: 0%;
    box-sizing: border-box;
   }
    header nav {
    display: flex;
   }
    header nav a{
    color: rgba(36, 46, 82, 1);
    display: block;
    transition: 1s;
    margin: 1rem;
   }
      
   header nav a:hover{
    opacity: 0.5;
   }
   h1{
    color: #232C50;
    font-size: 2.5rem;
    }
   .logo-desktop{
    height: 30px;
    padding-left: 5rem;
    margin-top: 10px;
   }
    .hamburguesa{
    display: none;
   } 
   .boton-header{
    display: block;
   }
   .grafico-main{
    flex-direction: row-reverse;
    height: 85vh;
    padding-left: 5rem;
    padding-right: 5rem;
    }
    .grafico-main img{
    height: 90%;
    }
    .grafico-main div{
    padding: 6rem;
    text-align: left;
    position: relative;
    bottom: 8vh;
    }
    main section div p{
        padding: 28px 0px 28px 0px;
        opacity: 0.5;
    }
    main section div button{
        padding: 12.5px 30.5px 12.5px 30.5px;
    }
    main section div button:hover{
        opacity: 0.5;
    }

    .diferente{
        flex-direction: row;
        align-items: flex-start;
    }
    .diferente .que-diferencia h2{
        font-size: 2rem
     }
    .que-diferencia{
        padding: 8rem;
        padding-top: 1rem;
        text-align: left; 
    }
    .funciones{
        text-align: left;
        background-color: initial;
        margin: 4rem;
    }
    .fun-titulo{
        align-items: center;
        justify-content: flex-start;
    }
    .fun-titulo span{
        border-radius: 1rem;
        padding: 5px 13px;
        left: -5rem;
    }
    .fun-titulo h3{
        background-color: initial;
        position: relative;
        left: -4rem;
        width: 40%;
        overflow: hidden;
        min-width: auto;
     }
     .que-dijeron{
        background-color: #E5E5E5;
     }
     .card-container{
        display: flex;
        flex-direction: row;
        gap: 3rem;
     }
     .card-otro{
        display: block;
     }
   
    .fa-brands:hover{
        color: #F3603B;
    }
    .simplify{
     flex-direction: row;
     justify-content: space-around;
    }
    .simplify button{
        box-shadow: none;
    }
  button:hover{
    transform: scale(1.05);
    cursor: pointer;
    }
  .logo-footer:hover{
    cursor:pointer;
    }
    footer{
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    form{
       position: relative;
       left: -3rem;
    }

    form button{
        box-shadow: none;
    }

    .logos-container{
        display: block;
        padding: 0px 5px;
        margin-left: 98px;
    }
    .copy-desktop{
        display: block;
        font-size: 0.9rem;
        margin-top: 1rem;
        color: #8C8C94;
    }
    .copy-mobile{
        display: none;
    }
    .logo-iconos{
        width: 20%;
    }
    .listas{
      gap: 10rem;
    }
    .logo-footermobile{
        display: none;
    }
    .logo-footerdesktop{
        display: block;
        width: 120px;
        height: 23px;
        padding-bottom: 10px;
        margin-left: 80px;
    }
    
}
